html {
  height: 100%;
  width: 100%;
}
.post{
  text-align: center;
  margin: 5px;
  padding: 5px;
  display: block;
  border: 1px solid black;
  border-radius: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.post h3{
  color: red;
}
.post p{
  color: green;
}

